.container {
    max-width: 450px;
    height: 313px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; 
    padding-top: 20px;
    background-color: white;
}

.title {
    text-align: center;
}


